/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body{font-family: "Figtree", sans-serif;}
.v-sheet{background-color: transparent;}
.imgHeight{
    height: 150px;
} */

.imageArea{
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: #e1e3ff;
    border-radius: 50%;
    margin: 0 9px 10px 9px;
}
.productImg{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 16px 0;
}